body {
  color: #ff0000;
  background-color: #000000;
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  max-width: 700px;
}

p, center, main {
  font-size: 13px;
}

.content {  
  margin-bottom: 2rem;  
}  

.navbar {
  display: flex;  
  align-items: center;  
} 

header {
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
}

footer {
  border-top: 1px solid #ff0000;
  margin-top: 1rem;
}

a {
  color: #800000;
  text-decoration: none;
}